# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-results/
allure-report/
rp-debug.log
browserstack-reports/
bs-test-observability/
.DS_Store
.idea/
Thumbs.db
*.mp4
*.webm
*.png
*.jpg
*.jpeg
*.env